@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Kdam+Thmor+Pro&display=swap');

* {
  font-family: 'Gentium Book Plus', serif;
  color: green;
}

.home {
  text-align: center;
}

.header {
  text-align: left;
  height: fit-content;
  background: green;
  padding-left: 2%;
  
}

.home-logo{
  margin-top: 2%;
  border-radius: 35%;
}

.pantry {
  margin: 0 auto;
  width: 90%;
}

.ingredient-list {
  height: fit-content;
  width: 30%;
  border: solid 2px green;
}